body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#boton{

	text-align: center;
	margin-right: ;
}
#login{

	 width: 35%;
	 margin-left: 25%;
}
#footer{

	margin-top: 15%;
}